@page
@model AzTranslate.WebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}

<div class="row">
    <div class="col-12 col-lg-10 mx-auto">
        <div class="col-4 col-md-3 mx-auto">
            <img src="/pics/taq.png" class="card-img-top" alt="Tariq Abubaker">
        </div>
        <div class="mt-3">
            <p>
                My name is Tariq Abubaker. I'm the creator of <a href="https://github.com/taqabubaker/AzTranslate" target="_blank">AzTranslate</a>
                I work as an IT enterprise architect and a cloud solutions engineer. I'm a Microsoft Certified Trainer (MCT).
            </p>
            <p>
                I have a proven history working in the information technology and banking industry.
                I have participated in many projects including Core Banking, SOA, Payment Solutions, Credit Cards, AML, CRM, Retail Solutions, Financing, and ITSM.
            </p>
            <p>
                In my spare time, I run a local community group called <a href="https://www.meetup.com/azurekuwait/" target="_blank">Azure Kuwait</a>,
                make technology related videos on YouTube, create some tools like <i>AzTranslate</i>, and sometimes blogs on my own blog.
            </p>
            <hr />
            <p>
                Working on such applications and tools takes a lot of time and efforts, starting with preparing ideas and implementing them
                in the best possible way, then making sure that they work properly before launching them.
                If you liked this application and want new features or even other applications similar to it, share it with your friends.
            </p>
            <hr />
            <span>You can find me on: </span>
            <a href="https://twitter.com/taq_abubaker" target="_blank" class="mr-2">
                <img src="~/pics/Twitter_social_icons_rounded_square_blue.svg" alt="Twitter" style="max-width:32px; max-height:32px;">
            </a>
            <a href="https://www.youtube.com/channel/UCTli-xFwKT1tDkR8HZ3x7jA" target="_blank" class="mr-2">
                <img src="~/pics/youtube_social_squircle_red.png" alt="YouTube" style="max-width:32px; max-height:32px;">
            </a>
            <a href="https://tariqabubaker.wordpress.com/" target="_blank" class="mr-2">
                <img src="~/pics/WordPress_logotype_wmark.png" alt="My WordPress Blog" style="max-width:32px; max-height:32px;">
            </a>
        </div>
    </div>
</div>
