@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-danger text-center">Error! 😨</h1>
        <h2 class="text-danger text-center">An error occurred while processing your request.<br />Please contact the system administrator to fix this error.</h2>

        @if (Model.ShowRequestId)
        {
            <p class="text-center mt-5">
                <strong>Request ID:</strong><br /><code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>