@page
@model AzTranslate.WebApp.Pages.TranslationJobDetailsModel
@{
}

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header"><b>Log</b></div>
            <div class="card-body pre-scrollable">
                <ol id="logList" class="list-unstyled">
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><b>Recognized Speech (@Model.FromLanguage)</b></div>
            <div class="card-body pre-scrollable">
                <ol id="transcriptList" class="list-unstyled">
                </ol>
            </div>
        </div>
        <input type="button" name="bt2" value="Download" onclick="saveFile('transcriptList')" />
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header"><b>Translated Speech (@Model.ToLanguages)</b></div>
            <div class="card-body pre-scrollable">
                <ol id="translationList" class="list-unstyled">
                </ol>
            </div>
        </div>
        <input type="button" name="bt2" value="Download" onclick="saveFile('translationList')"/>
    </div>
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/translate.js"></script>
}
